<section class="filters">
  <h1 class="filters__title">Кроссовки</h1>
  <div class="filters__options">
    <div class="filters__option filters__option--type">
      <h3 class="filters__label">Тип:</h3>
      <select class="filters__select filters__select--type">
        <option value="">Все</option>
        <option value="Мужские">Мужские</option>
        <option value="Женские">Женские</option>
      </select>
    </div>
    <div class="filters__option filters__option--brand">
      <h3 class="filters__label">Бренд:</h3>
      <select class="filters__select filters__select--brand">
        <option value="">Все</option>
        <option value="Nike">Nike</option>
        <option value="Adidas">Adidas</option>
        <option value="Puma">Puma</option>
        <option value="Converse">Converse</option>
      </select>
    </div>
    <div class="filters__option filters__option--price">
      <h3 class="filters__label">Цена:</h3>
      <input type="number" class="filters__input filters__input--min-price" placeholder="От">
      <input type="number" class="filters__input filters__input--max-price" placeholder="До">
    </div>
    <div class="filters__option filters__option--size">
      <h3 class="filters__label">Размер:</h3>
      <select class="filters__select filters__select--size">
        <option value="">Все</option>
        <option value="32">32</option>
        <option value="33">33</option>
        <option value="34">34</option>
        <option value="35">35</option>
        <option value="36">36</option>
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
      </select>
    </div>
  </div>
</section>