<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<div class="login-container">
  <form action="/" method="GET" class="login-form">
    <label for="name">Логин:</label>
    <input type="text" id="name" name="name" required>
    <input type="hidden" name="auth" value="true">
    <button type="submit">Войти</button>
  </form>
</div>
