<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/styles/outlines.css">
</head>
<nav class="header__nav">
  <a href="/" class="header__link">Главная</a>
  <a href="/catalog" class="header__link">Каталог</a>
  <a href="/about" class="header__link">О нас</a>
  <a href="/profile" class="header__link">Личный кабинет</a>
  <a href="/orders" class="header__link">Заказы</a>
  <a href="/tasks" class="header__link">Задачи</a>
  <a href="/products/new" class="header__link">Создать продукт</a>
</nav>
