<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <script src="scripts/pageLoad.js" defer></script>
  <script src="scripts/activePage.js" defer></script></head>
{{> header}}
<main class="main">
  <h1>Мои заказы</h1>
  <p>Здесь вы можете просмотреть и управлять своими заказами.</p>
</main>
{{> footer}}
